/* Overrides */

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  
  padding: 0px;
  margin: 0px;
  
  overflow: hidden;

  font-family: Verdana;
  font-size: 10pt;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  
  font-family: sans-serif;
  overflow: hidden;

  line-height: 2;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #939393 #707070b8;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #707070b8;
}

*::-webkit-scrollbar-thumb {
  background-color: #939393;
  border-radius: 20px;
  border: 3px solid #707070b8;
}

/* Main configurations */

.main {
  margin: 0px;
  padding: 0px;
  border: 0px solid red;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.maincontainer {
  margin: 0px;
  padding: 0px;
  border: 0px solid red;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
  background: black;
}

.maintitleheader {
  flex: 0;
  color: #fbe9b6;
  padding: 0px 0px 0px 10px;
  display: flex;
  flex-direction: row;
}

.maintitleheader h1 {
  margin: 0px;
  padding: 0px;
}

.maintitleheader-icon {
  margin: 0px;
  padding: 12px;
  color: white;
  cursor: pointer;
}

.tabcontainer-empty {
  min-width: 53%;
}

.tabcontainer {
  flex: 1;
  margin: 0px;
  padding: 0px;
  border: 0px solid red;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row; 
  background: #292929;
}

.references {
  flex: 1;
  min-width: 30%;
  background: #3e3e3e;  
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.references-context {
  flex: 1;
  color: white;
  text-align: center;
  height: auto;  
}

.references-content {
  color: white;
  padding: 4px;
}

.references-collapser {
  position: absolute;
  bottom: 22px;
  right: 8px;
  width: 28px;
  height: 40px;
  color: white;
  font-size: 16pt;
  background: grey;
  text-align: center;
  border-radius: 3px;
}

table.darkTable {
  /* font-family: "Arial Black", Gadget, sans-serif; */
  border: 2px solid #000000;
  /* background-color: #6b6969; */
  width: 100%;
  /* height: 200px; */
  text-align: center;
  border-collapse: collapse;
  margin-top: 4px;
  margin-bottom: 27px;
}

table.darkTable td, table.darkTable th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}

table.darkTable tbody td {
  font-size: 13px;
  color: #dbd8d8;
}

table.darkTable tr:nth-child(even) {
  background: #3a3939;
}

table.darkTable thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}

table.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #b9b8b8;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}

table.darkTable thead th:first-child {
  border-left: none;
}

table.darkTable tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}

table.darkTable tfoot td {
  font-size: 12px;
}

.testtitle {
  color: white;
  /*font-size: 16pt;*/
}

.testobject {
  color: #9a9a9a;
  font-size: 16pt;
  line-height: 21pt;
  padding-right: 10px;
}

.test-heading {
  text-align: left;
  font-size: 12pt !important;
  background: #403f3f;
  padding: 9px !important;
}

.test-codeblock {
  text-align: left;
}

.test-title-container {
  display: flex;
  flex-direction: row;
}

pre {padding: 2px; margin: 2px; }
.string { color: #f8fb57; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: #49ff35; }

.args {

}

.args li {
  margin: 4px;
}